.cardContainer {
  width: 100vw;
  height: 100vh;
  background-color: #1E3D59 !important;
}

.card {
  height: 100%;
  width: 100%;
  place-items: center;
  border-radius: 30px;
}

.feedContainer {
  height:80px;
  margin-left:15px;
  color: white;
  font-size:small;
}

.date {
  margin-left: 170px;
}

.home {
  display: block;
  font-weight: bold;
  font-size:xx-large;
  margin-left: 20px;
  color: #FF6E40;
  margin-top: 50px;
}

.topic {
  height: 80px;
  text-align: center;
  font-size:x-large;
  background-color: #EBEBEB;
  border-radius: 10px;
}

.category {
  text-align: left;
  font-size: large;
  margin-top: 2px;
  margin-left: 1px;
  height: 30px;
  width: 65px;
  background-color: #FF6E40;
  color: white;
  border-radius: 15px;
  text-align: center;
  font-weight:500;
}

.post {
  background-color:white;
  height:350px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  border:1px solid;
  border-radius: 20px;
  color:black;
  display: flex;
  flex-direction: column;
}

.text {
  display: block;
  text-align: center;
}

.effect {
  position: absolute;
  z-index: 1;
  right: 20px;
}

.slider {
  -webkit-appearance: none;
  background-color: darkgrey;
  height: 20px;
  overflow: hidden;
  width: 230px;
  margin-top:60px;
}

.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border-radius: 50%;
  box-shadow: -210px 0 0 200px #FF6E40;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 0;
}

.field {
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.logo {
  width: 7%;
  height: 7%;
  display: flex;
  margin-left:200px;
  margin-top: 170px;
}

.interactions {
  position:absolute;
  display: flex;
  margin-left: 20px;
  font-size: smaller;
}





