
:root {
  --orange: #FF6E40;
  --lightGray: #EBEBEB;
  --darkGray:  #484848;
  --navyBlue: #1E3D59;
  --white: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--navyBlue) !important;
  z-index: -2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}

.profile-img {
  height: 70px;
  width: 70px;
}
::-webkit-scrollbar {
  display: none
}

/* Logan's part  */

.new-post-wrapper {
  height: 750px;
  background: #1E3D59;
}
.new-post-form {
  color: var(--orange);
  padding-left: 10px;
  padding-right: 10px;
}

.post-btn {
  color: var(--orange);
  float: right;
  top: -70px;
}

.post-title {
  color: var(--orange);
  padding: 15px;
}

.new-post-form {
  color: var(--orange);
}

.profile-wrapper {
  color: var(--orange);
}

.profile-info {
  float: right;
  padding-right: 20px;
  margin-top: -35px;
  color: var(--lightGray);
}

.profile-img {
  float: left;
  margin-left: 40px;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  border: 4px solid var(--white)
}

.edit-btn {
  float: right;
  top: -70px;
}

.profile-name {
  font-weight: bolder;
}

.mypost-wrapper {
  margin-top: 150px;
}

.profile-loading {
  margin-top: 200px;
  margin-left: 40px;
  align-self: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size:1.2rem;
}