
:root {
  --orange: #FF6E40;
  --lightGray: #EBEBEB;
  --darkGray:  #484848;
  --navyBlue: #1E3D59;
  --white: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--navyBlue) !important;
    z-index: -2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}

.profile-img {
  height: 70px;
  width: 70px;
}
::-webkit-scrollbar {
  display: none
}
