:root {
  --orange: #ff6e40;
  --lightGray: #ebebeb;
  --darkGray: #484848;
  --navyBlue: #1e3d59;
  --white: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--white) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--white) inset !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--navyBlue) !important;
  z-index: -2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.profile-img {
  height: 70px;
  width: 70px;
}
::-webkit-scrollbar {
  display: none;
}

/* Logan's part  */

.new-post-wrapper {
  height: 750px;
  background: #1e3d59;
}
.new-post-form {
  color: #ff6e40;
  padding-left: 10px;
  padding-right: 10px;
}

.post-btn {
  color: #ff6e40;
  float: right;
  top: -70px;
}

.post-title {
  color: #ff6e40;
  padding: 15px;
}

.new-post-form {
  color: #ff6e40;
}
