
:root {
  --orange: #FF6E40;
  --lightGray: #EBEBEB;
  --darkGray:  #484848;
  --navyBlue: #1E3D59;
  --white: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}

.profile-img {
  height: 70px;
  width: 70px;
}
::-webkit-scrollbar {
  display: none
}

/* Logan's part  */

.new-post-wrapper {
  height: 750px;
  background: #1E3D59;
}
.new-post-form {
  color: #FF6E40;
  padding-left: 10px;
  padding-right: 10px;
}

.post-btn {
  color: #FF6E40;
  float: right;
  top: -70px;
}

.post-title {
  color: #FF6E40;
  padding: 15px;
}

.new-post-form {
  color: #FF6E40;
}

.profile-wrapper {
  height: 750px;
  background: #1E3D59;
  color: #FF6E40;
}

.profile-info {
  float: right;
  padding-right: 20px;
}

.profile-img {
  float: left;
  margin-left: 50px;
  height: 100px;
  width: 100px;
}

.edit-btn {
  margin-top: 50px;
  margin-left: -30px;
}

.profile-name {
  font-weight: bolder;
}