.cardContainer {
  width: 400px;
  margin-left: 200px;
  margin-top: 100px;
}

.card {
  height: 550px;
  width:270px;
  border: 1px solid black;
  background-color: black;
  place-items: center;
  border-radius: 30px;
}

.feedContainer {
  height:60px;
  margin-top: 20px;
  margin-left:15px;
  color: white;
  font-size:small;
}

.date {
  margin-left: 45px;
}

.category {
  display: block;
  font-size: large;
  margin-top:5px;
}

.topic {
  margin-left:15px;
  margin-top: 10px;
}

.post {
  background-color:lightseagreen;
  height:300px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  border:1px solid;
  border-radius: 20px;
  color:white;
}

.text {
  display: block;
  text-align: center;
}

