.container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  background-color: white;
  padding-bottom: 20px;
}
.icon {

  padding: 1rem;
  align-self: center;

}