.container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  z-index: 3;
  background-color: var(--white);
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.icon {
  padding: 1rem;
  align-self: center;
  color: var(--navyBlue)

}

.clicked {
  color: var(--orange) !important;

}