.modal {
  background-color: var(--navyBlue) !important;
  height: 100px;
  width: 50px;
}

.card {
  display:flex;
  flex-direction: column;
  place-items: center;
  border-radius: 30px;
  color: var(--navyBlue);
}

.feedContainer {
  font-size:small;
}

.username,
.date {
  color: var(--darkGray)
}

.date {
  margin-left: 7px;
}

.category {
  display: block;
  font-size: large;
  padding-top:40px;
}

.topic {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.post {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px 0;
  font-size: 20px;
  background: linear-gradient(145deg, #fbfbfb, #d4d4d4);
  box-shadow:  5px 5px 10px #acacac,
               -5px -5px 10px #ffffff;
}

.text {
  display: block;
  text-align: center;
}

.sliderLeft, .sliderRight {
  font-size: smaller;
  text-align: center;
}

.slider {
  width: 70%;
  margin-top: 3rem;
}

.field {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%

}

.logo img {
  width: 10px;
  height: 15px;
  margin: 4px;

}

.logo {
  display: flex;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
