.searchNavForm {
  border: 1px solid var(--lightGray);
  border-radius: 10px;
}

.text {
  color: var(--orange);
}

.searchIcon {
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--lightGray);
}

.searchForm {
  position: relative;
}
