.menuBar {
  padding: 12px;
  margin: 5px;
  min-width: 120px;
  border-radius: 10px;
  text-align: center;
  color: var( --white);
  background: linear-gradient(145deg, #20415f, #1b3750);
  box-shadow:  2px 2px 5px #0d1e2e,
               -2px -2px 5px #30577c;
}

.menuContainer {
  margin:0 10px;
}

.selectedBar {
  padding: 12px;
  margin: 5px;
  min-width: 120px;
  border-radius: 10px;
  text-align: center;
  color: var( --white);

  background: #1E3D59;
  box-shadow: inset 5px 5px 18px #14293c,
            inset -5px -5px 18px #285176;
}